body {
    background-color: blanchedalmond;
}

h1 {
    font-family: raleway;
    font-size: 300%;
    color: rgb(26, 2, 2);
    text-align: center;
}

p {
    font-family: raleway;
    font-size: 160%;
    color: rgb(26, 2, 2);
    text-align: center;
}